.linmas_input_btn {
  border-radius: 1.302vw;
  width: 25vw;
  height: fit-content;
  display: flex;
  /* justify-content: space-evenly; */
  gap: 5.208vw;
  align-items: center;
  font-size: 1.875vw;
  background: #7ac6ff;
  border: none;
  color: #fff;
  padding: 1.771vw 2.083vw;
}

.add_icon {
  font-size: 3vw;
  color: #fff;
}

.modal_header {
  padding: 1.5vw;
}

.modal_body {
  height: 50vh;
  overflow: scroll;
  padding: 0 1.5vw 1.5vw;
}

.modal_body::-webkit-scrollbar {
  display: none;
}

.individu_btn,
.batch_sk_btn {
  background-color: transparent;
  border: 1px solid #4461f2;
  padding: .7vw 1.5vw;
  color: #4461f2;
  border-radius: .8vw;
  font-weight: 600;
  font-size: .9vw;
  letter-spacing: .05vw;
  margin-bottom: 1.5vw;
}

.active {
  background-color: #4461f2;
  color: #fff;
}

.show_input {
  display: flex;
}

.hide_input {
  display: none;
}

.input_linmas_form {
  background: #eaf0f7;
  border: none;
  padding: 1vw 0 1vw 1.2vw;
  border-radius: .8vw;
}

.select_gender_container {
  gap: 3.3vw;
}

.select_gender {
  background: #eaf0f7;
  border: none;
  padding: .7vw 1vw;
  border-radius: .8vw;
  width: 12vw;
  /* width: 100%; */
}

.input_cancel_btn{
  margin-top: 2vw;
}

.input_cancel_btn button,
.input_cancel_btn input {
  background-color: transparent;
  border: 1px solid #4461f2;
  padding: .7vw 2vw;
  color: #4461f2;
  border-radius: .8vw;
  font-weight: 600;
  font-size: 1vw;
  letter-spacing: .05vw;
  box-shadow: 0px 12px 21px 4px #4461F226;

}

.input_cancel_btn input {
  padding: .7vw 3vw;
  background-color: #4461F2;
  color: #FFf;
  margin-left: 1.3vw;
}

.add_linmas_container{
  color: #4461F2;
}
