.active_linmas_btn {
  background-color: transparent;
  border: none;
  color: #121212;
  font-weight: 500;
}

.main_menu_item {
  gap: 15px;
  user-select: none;
}

.main_menu_item:hover {
  color: #386bbc;
}

.menu_icon {
  font-size: 1.5rem;
}

.menu_name {
  font-size: 0.9rem;
  display: flex;
}

.modal_header {
  padding: 20px;
}

.modal_body {
  height: fit-content;
  overflow: scroll;
  padding: 0 20px 20px;
}

.modal_body::-webkit-scrollbar {
  display: none;
}

.password_container {
  position: relative;
  /* width: fit-content;
  height: fit-content; */
  user-select: none;
}

.password_box {
  width: 100%;
  height: 2.5rem;
  padding-left: 1.25rem;
  border-radius: 0.625rem;
  background: #eaf0f7;
  border: none;
  font-size: 1rem;
}

.password_box::placeholder {
  color: #667085;
  font-size: 4rem;
}

.eyes_icon_close,
.eyes_icon {
  color: #667085;
  position: absolute;
  top: 55%;
  right: 7%;
  width: 1.15rem;
  height: auto;
}

.input_cancel_btn {
  margin: 20px;
}

.input_cancel_btn button,
.input_cancel_btn input {
  background-color: transparent;
  border: 1px solid #4461f2;
  padding: 10px 30px;
  color: #4461f2;
  border-radius: 10px;
  font-weight: 600;
  font-size: 0.9rem;
  letter-spacing: 1px;
  box-shadow: 0px 12px 21px 4px #4461f226;
}

.input_cancel_btn input {
  padding: 10px 40px;
  background-color: #4461f2;
  color: #ffffff;
  margin-left: 20px;
}
