.sidebar_container {
  width: 22vw;
  height: 93.5vh;
  /* gap: 10.2rem; */
  z-index: 1;
}

.logo_menu_container{
	width: fit-content;
}

.logo_welcome_container{
	width: fit-content;
}

.logo {
  width: 3.5rem;
}

.linmas_title {
  font-weight: bolder;
  font-size: 1.3rem;
}

.arrow_icon {
  font-size: 1.5rem;
  /* margin-bottom: 2px; */
}

.logo_dropdown_container {
  width: fit-content;
}

.linmas_dropdown_container {
  cursor: pointer;
  user-select: none;
  padding: 0;
}

.dropdown_containter {
  top: 35px;
  left: 105px;
}

.dropdown_containter ul {
  /* width: 50%; */
  /* display: none; */
  background-color: #e2f2ff;
  color: #121212;
  border-radius: 15px;
  padding: 10px 3px;
  border: 1px solid #121212;
}

.dropdown_containter li {
  padding: 3px 0 3px 10px;
  /* margin: 10px; */
  width: 120px;
  /* margin-bottom: 5px; */
  border-radius: 7px;
  font-size: 0.7rem;
  /* border-bottom: .2px solid; */
}

.dropdown_containter li:hover {
  /* border: 2px solid #386BBC; */
  background-color: #a5c8ff;
  border-radius: 7px;
  /* font-weight: bold; */
  transition: .5s;
  color: #121212;
  /* padding: ; */
}

.welcome_avatar_container {
  width: fit-content;
  gap: 15px;
}

/* .avatar_container {
  margin-left: 4px;
} */

.avatar_image {
  width: 2.8rem;
  height: 2.8rem;
}

.welcome_text {
  font-size: .7rem;
}

.village_text {
  font-size: 1.2rem;
  font-weight: bold;
}

.main_menu_container {
  width: fit-content;
}

.main_menu_item {
  padding-left: 10px;
  gap: 15px;
  user-select: none;
  cursor: pointer;
}

.active {
  color: #386BBC;
}

.menu_icon {
  font-size: 1.5rem;
}

.menu_name {
  font-size: .9rem;
  display: flex;
}

.signout_logo_container{
	width: fit-content;
	/* padding-left: 12px; */
}

.signout_container{
	width: fit-content;
}

.signout_icon{
	font-size: 1.8rem;
}

.signout_text{
	font-size: 1rem;
}

.peruri_logo{
	/* width: 8.5rem; */
}

